<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>WROhWOqXR8iyVaKAj7oFg0iuF</string>
	<key>consumer_Secret</key>
	<string>zgOY5JdgzY6qiIwQ7CDhCt7Oy39Hlfo98RAjDj3p9kBK12LSfC</string>
</dict>
</plist>
